<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <script src="https://unpkg.com/vue@3"></script>
  <style>
    h1 {
      text-align: center;
      margin-bottom: 10px;
    }

    form {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    label {
      font-size: 12px;
      text-align: left;
      font-weight: bold;
      margin-top: 10px;
      margin-left: 25%;
    }

    input[type="text"],
    input[type="password"] {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
      width: 50%;
      text-align: center;
      margin-left: 25%;
    }

    button[type="submit"] {
      background-color: black;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      margin-top: 10px;
      font-weight: bold;
      width: 50%;
      text-align: center;
      margin-left: 25.5%;
    }

    .centerTable {
      margin: 0px auto;
      border-collapse: collapse;
    }

    .centerTable tr:nth-child(even) {
    background-color: #BBBBBB;
}

    th,td {
      border-bottom: 1px solid gray;
      padding: 12px;
      text-align: center;
    }
  </style>
</head>
<body>
  <div>
    <h1>Welcom to The Dog Walking Service</h1>
    <p style="margin-left: 25%;">Sign in to continue</p>

    <form method="POST" action="/users/login">
      <label for="username">USERNAME</label>
      <input type="text" name="username" required />

      <label for="password">PASSWORD</label>
      <input type="password" name="password" required />

      <button type="submit">login</button>
    </form>
  </div>

  <h1>All Registered Dogs</h1>
  <table class="centerTable">
    <thead>
      <tr>
        <th>Dog ID</th>
        <th>Name</th>
        <th>Size</th>
        <th>Owner ID</th>
        <th>Photo</th>
      </tr>
    </thead>
    <tbody>
      <% dogs.forEach(dog => { %>
        <tr>
          <td><%= dog.dog_id %></td>
          <td><%= dog.name %></td>
          <td><%= dog.size %></td>
          <td><%= dog.owner_id %></td>
          <td>
            <img :src="dogUrl" alt="Dog Photo"/>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</html>
</body>
</html>